.services-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur petits écrans */
}

.service {
    width: 18%;
    background-color: #fff;
    padding: 17px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-left: 5px solid #3f51b5;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.service:hover {
    transform: scale(1.05) translateY(-5px); /* Zoom léger */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Ombre */
}

.service h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #3f51b5; /* Bleu Indigo */
}

@media (max-width: 768px) {
    .services-list {
        flex-direction: column; /* Empile les services sur petits écrans */
        align-items: center;
    }

    .service {
        width: 90%; /* Prend 90% de la largeur sur mobile */
    }
}

@media (max-width: 480px) {
    .service {
        width: 100%; /* Sur les très petits écrans, chaque service prend 100% */
    }
}
